#dash{
    height:100%;
    width:100%;
}



#overlay {
    position:relative;
    align:bottom;
    top:-5%;
    left:0;
    width:100%;
    height:6%;
    background:#fff;
    z-index:50;
}

.iframe{
    height:100%;
    width:100%;
}